/* Global Declaration*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainContainer {
  margin: 20px auto;
  border: 2px solid black;
  width: min(90%, 450px);
}
.mainContainer .imageContainer {
  width: 100%;
  overflow: hidden;
}
.imageContainer img {
  width: contain;
  max-width: 447px;
  height: 100%;
  border-radius: 0 0 32px 32px;
}
.container {
  margin: 0.4em auto;
  padding: 0 12px;
}
.name {
  padding-bottom: 4px;
  font-size: 36px;
}
button {
  padding: 6px 8px;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 0.4em 1em;
  margin-top: 8px;
}
